{% block content %}
<script>
        var XY_plot = document.getElementById('NCVXY')
        var data = []
        var layout = {
        annotations : [],
        legend:{hovermode:'closest' },
        hovermode:'closest',
        xaxis :{showline: true,
                zeroline: false,
                linecolor: '#636363',
                linewidth: 5,
                showgrid: false,
                gridcolor: '#bdbdbd',
                title: 'NCVX'
                },
                
        yaxis :{range: [-50,],
                zeroline: false,
                showline: true,
                showgrid: false,
                linecolor: '#636363',
                linewidth: 5,
                title : 'NCVY'
                },};
        var backstat = {
        y: {{case_data['NCV_Y']['NCV_pass']}},
        x: {{case_data['NCV_X']['NCV_pass']}},
        text: {{NCV_pass_names|tojson}},
        name: 'Negative (N={{case_data['NCV_Y']['nr_pass']}})',
        hoverinfo:'none',
        mode: 'markers',
        type: 'scatter',
        marker: {color: '#ccccb3'}}
        data.push(backstat);
        var i = 0
    
        {% for abn  in sex_chrom_abn.keys() %} 
        {% for abn_status  in abn_status_list %} 
        var verif = {                                                                  
                name: '{{abn}} {{abn_status}} (N={{sex_chrom_abn[abn][abn_status]['nr_cases']}})',                                                               
                y: {{sex_chrom_abn[abn][abn_status]['NCV_Y']}},                                        
                x: {{sex_chrom_abn[abn][abn_status]['NCV_X']}},
                text: {{sex_chrom_abn[abn][abn_status]['s_name']|tojson}},                                       
            mode: 'markers',
            marker: {   size: {{abn_size}},
                        symbol :"{{abn_symbol}}",
                        color: "{{ncv_abn_colors[abn_status]}}"} ,                                                   
                        type: 'scatter'              
                    }; 
        data.push(verif);
        var i = i +1
        {% endfor %}
        {% endfor %}
    
        {% for line  in sex_tresholds %} 
            var line = {
                x : {{sex_tresholds[line]['x']}},
                y : {{sex_tresholds[line]['y']}},
                mode: 'lines',
                showlegend: false,
                line: {
                    dash: 'dot',
                    color : 'red',
                    width : 2},
                name: "{{line}}"};
        data.push(line);
        {% endfor %}
        {% for i in samp_range %}
        var trace1 = {
        y: [{{case_data['NCV_Y']['NCV_cases'][i]}}],
        x: [{{case_data['NCV_X']['NCV_cases'][i]}}],
        name: {{case_data['NCV_X']['X_labels'][i]|tojson}},
        mode: 'markers',
        text: {{case_data['NCV_X']['X_labels'][i]|tojson}},
        type: 'scatter',
        marker: {
                color: '{{many_colors[i]}}',
                size: {{case_size}}
                }};
        data.push(trace1);
        {% endfor %}
    
        var trace = {
        x: [-15, 0, 8, -20, -8, 0],
        y: [-50, -50, -50, 300, 300, 300],
        mode: 'text',
        name: 'NCV Clasifications',
        text: ['<b>X0</b>', '<b>XX</b>', '<b>XXX</b>','<b>XY</b>','<b>XYY</b>','<b>XXY</b>'],
        hoverinfo:'none',
        opacity : 0.7,
        textposition: 'top',
        showlegend: false,
        textfont: {
        size: 18,
        },
        type: 'scatter'
        };
    
        data.push(trace);
        Plotly.newPlot('NCVXY', data, layout);
    </script>
{% endblock %}